.collection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 75px;
    background-color: var(--color-yel-white);
}

.collection__title {
    z-index: 1;
    margin: 0;
    margin-bottom: 54px;
    font-size: 32px;
    font-weight: 400;
    color: var(--color-black);
}

.collection_coats {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 90px 223px;
    margin-bottom: 70px;
}

.collection_coats_block__coat {
    position: relative;
    width: 368px;
    height: 800px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    cursor: pointer;
    &::before {
        content: "";
        background-image: attr(data-hover);
        background-repeat: no-repeat;
        background-size: 300px 100px;
        z-index: 1;
        width: 300px;
        height: 100px;
        position: absolute;
        display: block;
        color: black;
        transform: translateY(-100px);
        transition: transform .3s ease-in-out;
    }
    &:hover {
        &::before {
            transform: translateY(100px);
        }
    }
}

.collection__btn {
    z-index: 1;
    position: relative;
    left: 35%;
    border: none;
    font-family: Copperplate Gothic Light;
    font-size: 32px;
    overflow: hidden;
    color: transparent;
    background-color: transparent;
    cursor: pointer;
    transition: color .1s;
    &::before {
        content: attr(data-hover);
        position: absolute;
        display: block;
        color: var(--color-black);
        transform: translateY(0);
        transition: transform .3s ease-in-out;
    }
    &::after {
        content: attr(data-hover);
        position: absolute;
        display: block;
        color: var(--color-black);
        transform: translateY(50%);
        transition: transform .3s ease-in-out;
    }
    &:hover {
        &::before {
            transform: translateY(-100%);
        }
        &::after {
            transform: translateY(-100%);
        }
    }

}